---
layout: corporate
---

<h1 id="press-releases">Press Releases</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.Press_releases %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>Old SEC Filings</h1>
<ul>
	<li><a href="{{ "/business_filings.html" | prepend: site.baseurl }}">Old Business Filings</a></li>
	<li><a href="{{ "/business_ar.html" | prepend: site.baseurl }}">2011 &amp; 2012 Annual Reports</a></li>
</ul>
<br>

<h1>Amended Articles of Incorporation &amp; By-Laws</h1>
<ul>
	<li><a href="https://drive.google.com/file/d/0B19lvllezMF1LUVxQVJ4akVYZWM/view" target="_new">Amended Articles of Incorporation</a></li>
	<li><a href="https://drive.google.com/file/d/0B19lvllezMF1V0tmLTh6b05ERHM/view" target="_new">Amended By-Laws</a></li>
</ul>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.Amendments_to_aoi %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>
<br>


<h1>Quarterly Reports</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.quarterly_reports %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>Integrated Annual CG Reports (I-ACGR)</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.iacgr %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>Annual Reports</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.Annual_reports %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>


<h1>Initial Statement of Beneficial Ownership</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.initial_statement_of_bo %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>Statement of Changes in Beneficial Ownership</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.statement_of_changes_in_bo %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>List of Top 100 Stockholders</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.List_of_top100_stockholders %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>Public Ownership Report</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.Public_ownership_report %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>Declaration of Cash Dividends</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.Declaration_of_cash_dividends %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h1>Other Company Filings</h1>
<table class="hovertable">
  <thead>
    <tr>
      <th>Template Name</th>
      <th>Announce Date and Time</th>
      <th>PSE Form Number</th>
      <th>Report or Circular Number</th>
      <th>Attachments</th>
    </tr>
  </thead>
  <tbody>
{% for rc in site.data.PSE_filings %}
  <tr onmouseover="this.style.backgroundColor='#ffff66';" onmouseout="this.style.backgroundColor='#FAFAFA';">
    <td width="40%">{{ rc.Template }}</td>
    <td align="center" width="20%">{{ rc.Announce_date }}</td>
    <td align="center" width="15%">{{ rc.PSE_Form_No }}</td>
    <td align="center">{{ rc.RC_No }}</td>
    <td align="center">
    {% if rc.Files != null %}
       {% assign links = rc.Files | split:"," %}
      {% for link in links %}
        <a href="https://drive.google.com/file/d/{{ link }}/view" target="_new">Link{{ forloop.index }}</a> <br>
      {% endfor %}
    {% else %}
      -
    {% endif %}
    </td>
  </tr>
{% endfor %}
  </tbody>
</table>
