					<div class="dividerthree">
						<div class="inside">
							
							<div id="welcomeblurb"> 
								
								<!--<h1>Overview</h1>-->
								
								<p><strong>AbaCore Capital Holdings, Inc.</strong> is a publicly listed holding company.  Its shares are traded in the Philippine Stock Exchange (trading symbol:  ABA).</p>
								
							</div>
							<!-- /#welcomeblurb -->
							
							<!--<div>&nbsp;<br>&nbsp; <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;</div>-->
			
	              		  	<div>    
                
								<h1>Related sites</h1>  
		    
	          				  	<p>&nbsp;&nbsp;<a href="http://www.loto.com.ph"><img src="{{ "/images/loto.jpg" | prepend: site.baseurl }}" alt="loto" /></a>  &nbsp; &nbsp;        
                
									<a href="http://www.alpahotel.com/"><img src="{{ "/images/alpa.jpg" | prepend: site.baseurl }}" /></a><br>
	             			</div>
							
						</div>
						<!-- /.inside -->
					</div>
					<!-- /.dividerthree -->