@charset "utf-8";


/* layout */

#wrap
{
	width: 100%;
}

	#maxwidth
	{
		width: 1000px;
		margin: auto;
	}
	
		#header
		{
			height: 110px;
		}
			
			#logo
			{
				float: left;
				height: 110px;
				width: 370px;
				overflow: hidden;
			}
			
			#menu
			{
				float: right;
				line-height: 110px;
				padding: 10px 30px 0 0;
				color: #fff;
			}
			
				#menu a
				{
					color: #fff;
					font: bold 17px/1em Helvetica, Arial, sans-serif;
					font-variant: small-caps;
					margin: 5px;
					background-color: #FBBE25;
					border-bottom: 1px dotted #ffffff	;
				}
					
					#menu a:hover
					{
						color: #990000;
					}
			
			
			
		#content
		{
			background: url(../images/content.png) no-repeat top center;
			min-height: 550px;
			
		}
		
			#content .content
			{
				padding: 30px 40px;
			}
		
		#footer
		{
			border-top: 1px dotted #c0c0c0;
			margin: 0px 20px;
			font-size: 11px;
			color: #a0a0a0;
		}
		
			#footer .content
			{
				padding: 10px 5px;
			}
			
				#footer .content #bottommenu
				{
					float: left;
				}
				
					#footer .content #bottommenu a
					{
						float: left;
						color: #990000;
						font-variant: small-caps;
						margin: 5px;
						background-color: #fff;
						letter-spacing: 1px;
					}
				
				#footer .content #copyright
				{
					float: right;
				}

/* general */

*
{
	border: 0px;
	margin: 0px;
	padding: 0px;
}

a
{
	color: #FF6600;
	text-decoration: none;
}

	a:hover
	{
		color: #990000;
	}

body
{
	background: #fff url(../images/background.jpg) repeat-x top center;
	font: 13px/1.7em Helvetica, Arial, sans-serif;
	color: #663300;
}

.clear
{
	clear: both;
}

.divider
{
	float: left;
	width: 50%;
}

.dividerthree
{
	float: left;
	width: 33%;
}

.dividerthreelong
{
	float: left;
	width: 66%;
}

.dividerthreeall
{
	float: left;
	width: 100%;
}

.floatleft
{
	float: left;
}

.floatright
{
	float: right;
}


h1
{
	font: bold 22px/1em Helvetica, Arial, sans-serif;
	color: #990000;
	border-bottom: 1px dotted #c0c0c0;
	padding-bottom: 5px;
	margin-bottom: 10px;
	letter-spacing:	 -1px;
}

h2
{
	font: bold 18px/1em Helvetica, Arial, sans-serif;
	color: #FF5A00;
	letter-spacing:	 -1px;
}

hr
{
	height: 1px;
	margin: 10px 0;
	border-top: 1px dotted #666;
}

.inside
{
	padding: 10px;
}

/*li
{
	list-style: inside;
}*/

.options
{
	font-weight: bold;
	background-color: #FFFF99;
	margin-bottom: 3px;
	text-align: right;
	text-transform: capitalize;
}

	.options a
	{
		padding: 0px 5px;
		margin-bottom: 5px;
		display: block;
	}
	
p
{
	text-align: justify;
	margin-bottom: 20px;
}

small
{
	font: bold 11px  Helvetica, Arial, sans-serif;
	text-transform: uppercase;	
	color: #a0a0a0;
}

/*ul
{
	margin: 0 0 20px;
}*/

#welcomeblurb
{
	font-size: 15px;
	line-height: 1.8em;
	color: #ff3300;
	font-weight: bold;
}

	#welcomeblurb strong
	{
		font-size: 17px;
		color: #000;
		font-variant: small-caps;
	}

#loadImg
{
  position:absolute;
  z-index:999;
  top: 0px;
}

  #loadImg div
  {
    display:table-cell;
    width:900px;height:860px;
    background:#fff;
    text-align:center;
    vertical-align: middle;
  }

table.hovertable {
	/*font-family: verdana,arial,sans-serif;
	font-size:11px;
	color:#333333;*/
	border-width: 1px;
	/*border-color: #999999;*/
	border-collapse: collapse;
}
table.hovertable th {
	background-color: #CCCCCC;
	border-width: 1px;
	padding: 10px;
	border-style: solid;
	/*border-color: #a9c6c9;*/
}
table.hovertable tr {
	background-color: #FAFAFA;
}
table.hovertable td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	/*border-color: #a9c6c9;*/
}
