<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include nav.html %}

  	<div id="wrap">
    
    	<div id="maxwidth">

			{% include header.html %}

 		   <!--<div class="page-content">
 			   <div class="wrapper">
 				   {{ content }}
 			   </div>
		   </div>-->
			   
			<div id="content">
				<div class="content">
	        		<div><img src="{{ "/images/corporate_top.gif" | prepend: site.baseurl }}" alt="" /></div>
		            <div class="dividerthree">     
                 
						<div class="inside">     
                   
							<div class="options">     
                     
								<a href="{{ "/company_overview.html" | prepend: site.baseurl }}">Company Overview &raquo; </a>   
                       
							</div>
							
							<div class="options">     
                     
								<a href="{{ "/corporate_vision.html" | prepend: site.baseurl }}">Mission, Vision and Values &raquo; </a>   
                       
							</div>
							
							<div class="options">     
                     
								<a href="{{ "/corporate_people.html" | prepend: site.baseurl }}">Board of Directors and Officers &raquo; </a>   
                       
							</div>
							
							<div class="options">     
                     
								<a href="{{ "/corporate_orgchart.html" | prepend: site.baseurl }}">Organizational Chart &raquo; </a>   
                       
							</div>
							
							<div class="options">     
                     
								<a href="{{ "/corporate_shareholdings.html" | prepend: site.baseurl }}">Shareholdings Structure &raquo; </a>   
                       
							</div>
                     
							<div class="options">     
                     
								<a href="{{ "/corporate_subsidiaries.html" | prepend: site.baseurl }}">Subsidiaries &raquo; </a>     
                       
							</div>
							
							<div class="options">     
                     
								<a href="{{ "/corporate_aoi_bylaws.html" | prepend: site.baseurl }}">Articles of Incorporation and By-Laws &raquo; </a>     
                       
							</div>
							
						</div><!--/.inside-->
					</div><!--/.dividethree-->
					
					
					<div class="dividerthreelong">

	            		<div class="inside"> 

							      {{ content }}
   
	             	 	</div> <!-- /.inside -->
						
					</div><!-- /.dividerthreelong -->
					
					<div class="clear"></div>  
					
				</div>
				<!-- /.content -->
			</div>
			<!-- /#content -->

 	   		{% include footer.html %}
			
		</div>
		<!-- /#maxwidth -->
	</div>
	<!-- /#wrap -->

	{% include menu_js.html %}

  </body>

</html>
